@for $i from 1 through 200 {
  .public-DraftStyleDefault-pre > pre:nth-child(#{$i}):before {
      content: "#{$i}";
      margin-left: -42px;
      position: absolute;
      color: #D1CCDC;
  }
}

button {
  border-color: unset;
  border-style: unset;
  border-width: 0px;
  padding: 0;
}

button:focus {
  outline: none;
}

button svg {
  fill: #fff;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 40px;
  background-color: transparent;
  z-index: 999;
}

.toolbar > button {
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.toolbar > button:hover {
  background-color: #608AAC;
}

.success {
  background-color: #CCFCCB
}

.fail {
  background-Color: #F5B7BB
}

.pdf-preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.playground-editor {
  border-left: 1px solid #F2F1F5;
  padding: 14px;
  height: 100%;
}

.upper, .lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 60px;
  width: 100%;
}

/* https://coolors.co/090c08-172a3a-ff01fb-e63946-ccfccb */

body {
  margin: 0;
  background: #FAFAFB;
  color: #172A3A;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
  position: relative;
}

.background {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  position: absolute;
  height: 160px;
  width: 100%;
  z-index: 10;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  padding: 30px 0 0 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1em 1em 1em;
  box-sizing: border-box;
  min-height: 100vh;
}

.download:hover svg {
  fill: #fff;
  cursor: pointer;
}

section {
  border-left: 5px solid #FAFAFB;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 0 0 34px;
}

.full {
  flex-basis: 100%;
  width: 100%;
  max-width: 100%;  
}

.half {
  flex-basis: 50%;
  width: 50%;
  max-width: 50%;
}

.hidden {
  display: none;
}

.container section:nth-child(2) {
  padding: 0;
  margin-top: -40px;
}

section.read-only {
  background-color: transparent;
}

.execute-button-wrap {
  z-index: 20;
  cursor: pointer;
  transform: translateY(30px);
}

.execute {
  transform: translateY(30px);
}

.execute-button svg {
  fill: #FF01FB;
  z-index: 30;
}

.loading .execute-button svg {
  fill: #D1CCDC;
}

.execute-button {
  background-color: #FF01FB;
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.loading .execute-button {
  background-color: #D1CCDC;
}

.execute-button-inner {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loading .execute-button-inner {
  /* background-color: transparent; */
}

.execute-button-loading {
  height: 80px;
  width: 80px;
  position: absolute;
  clip-path: circle(50% at 50% 50%);
}

.shadow {
  width: 70px;
  height: 70px;
  z-index: 5;
  border-radius: 50%;
  position: absolute;
  transform: scale(1.1) translateY(30px);
  background-color:#FAFAFB;
}

.result {
  color: #fff;
  font-size: 24px;
  box-sizing: border-box;
  line-height: 1.5;
  padding: 6px 12px;
  max-height: 50px;
  z-index: 20;
}

.result.active {
  background-color: #517fa4;
}

.DraftEditor-root {
  font-family: cousine,sfmono-regular,Consolas,Menlo,liberation mono,ubuntu mono,Courier,monospace;
  color: #111;
  max-height: auto;
  padding: 0;
  background: 0 0;
  overflow: visible;
  font-size: 1em;
}

pre {
  margin: 0;
}